* {
	font-family: Helvetica, sans-serif;
	margin: 0;
}

:root {
	--clr-dark: #212529;
	--clr-gradient: linear-gradient(to right, #5bff3e, #2ce84a, #30ff8c);
	--clr-accent: #5bff3e;
	--clr-light: white;
}

body {
	background-color: var(--clr-dark);
}

/*        Navbar        */
.navbar {
	position: fixed;
	background: linear-gradient(to top, transparent 2%, #212529 135%);
	height: 4.5em;
	margin-bottom: 20px;
	display: block;
	width: 100%;
	transition: all 0.3s ease-in-out;
}

.navbar.sticky {
	background: linear-gradient(to top, #212529, transparent 250%);
	padding: 0.04em 0;
	box-shadow: 0px 2px 7px 0px var(--clr-dark);
}

.navbar .content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.logo img {
	height: 4em;
	margin-left: 1.5em;
	margin-top: 0.5em;
	margin-right: 2em;
	display: inline-block;
}

.svg {
	filter: invert(87%) sepia(89%) saturate(4785%) hue-rotate(47deg)
		brightness(130%) contrast(140%);
}

.navbar .menu-list {
	list-style: none;
	line-height: 4;
	margin-right: auto;
}

.list-each {
	display: inline-block;
}

.nav-link {
	font-weight: 600;
	color: var(--clr-dark);
	padding-right: 30px;
	text-decoration: none;
	font-size: 1.2em;
	color: white;
}

.nav-link:hover {
	font-size: 1.25em;
}

.navbar .icon {
	padding-right: 0.5em;
	display: inline-block;
	line-height: 5.15;
	color: white;
}

.fas {
	margin-right: 1.2em;
	cursor: pointer;
}

/*					Main				 */

.carrousel-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 5em;
}

.carrousel-list {
	display: flex;
}

main img {
	height: 300px;
	width: 200px;
}

/*				Footer					 */
.footer {
	margin-top: 5em;
	padding: 3.5em 0;
	background-color: black;
	margin: 0;
}

.fab {
	padding: 0.5em;
}

.social-list {
	display: flex;
	justify-content: center;
	list-style: none;
	padding-left: 0;
}

.footer .icon-footer {
	color: white;
}

.icon-footer:hover {
	color: var(--clr-accent);
}
