:root {
	--vermelho: #e50914;
	--fundo: #141414;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fundo);
	font-family: Helvetica, sans-serif;
}

/* ---- ----- ----- Filme Principal ----- ----- ----- */
.main-movie {
	height: 100vh;
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
	
}

.main-movie .container {
	
	margin: auto;
	margin-left: 7.5%;
	margin-bottom: 20em;
	overflow: hidden;
	
}


.main-movie .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.main-movie .description {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.main-movie .button {
	background: rgba(0, 0, 0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: 0.3s ease all;
	font-size: 1.12em;
}

.main-movie .button:hover {
	background: #fff;
	color: #000;
}

.main-movie .button i {
	margin-right: 1.25em;
}

/* ---- ----- ----- Container Titulo e Controles ----- ----- ----- */
.container-title-controls {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.container-title-controls h3 {
	color: #fff;
	font-size: 30px;
}

.container-title-controls .indicators button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin: auto;
	margin-left: 0.15em;
}

.container-title-controls .indicators button:hover,
.container-title-controls .indicators button.active {
	background: #96ff00;
}

/* ---- ----- ----- Container Principal e Seta ----- ----- ----- */
.recommended-movies {
	margin-bottom: 70px;
	width: 85%;
	margin: auto;
}

.recommended-movies .container-main {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
}

.recommended-movies .container-main .left-arrow,
.recommended-movies .container-main .right-arrow {
	position: absolute;
	border: none;
	background: rgba(0, 0, 0, 0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: 0.2s ease all;
	
}

.recommended-movies .container-main .left-arrow:hover,
.recommended-movies .container-main .right-arrow:hover {
	background: rgba(0, 0, 0, 0.9);
}

.recommended-movies .container-main .left-arrow {
	left: 0;
}

.recommended-movies .container-main .right-arrow {
	right: 0;
}
.seta{
	margin: auto;
}

/* ---- ----- ----- Carrousel ----- ----- ----- */

.recommended-movies .container {
	width: 85%;
	margin: auto;
}

.recommended-movies .container-carrousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.recommended-movies .container-carrousel .carrousel {
	display: flex;
	flex-wrap: nowrap;
}

.recommended-movies .container-carrousel .carrousel .movie {
	min-width: 18%;
	transition: 0.3s ease all;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.recommended-movies .container-carrousel .carrousel .movie.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.recommended-movies .container-carrousel .carrousel .movie img {
	width: 99%;
	vertical-align: top;
	height: 426px;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .container {
		flex-direction: column;
		text-align: center;
	}

	.main-movie {
		font-size: 14px;
	}

	.main-movie .description {
		max-width: 100%;
	}

	.recommended-movies .container-carrousel {
		overflow: visible;
	}

	.recommended-movies .container-carrousel .carrousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.recommended-movies .indicators,
	.recommended-movies .left-arrow,
	.recommended-movies .right-arrow {
		display: none;
	}
}
